<div flex fxLayout="column" fxLayoutAlign="space-around center" style="padding-top:10vh">
	<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
		<div>
			<mat-form-field style="width:30vw !important">
				<input matInput type="text" placeholder="Email" autocomplete="email" formControlName="email">
			</mat-form-field>
		</div>

		<div>
			<mat-form-field style="width:30vw !important">
				<input matInput type="password" placeholder="Password" autocomplete="current-password" formControlName="password">
			</mat-form-field>
		</div>

		<div style="text-align: center">
			<button type="submit" mat-flat-button color="primary" [disabled]="!loginForm.valid">Login</button>
			<button type="button" mat-flat-button color="basic" routerLink="/forgot-password">Forgot Password</button>
		</div>
	</form>
</div>
