<app-spinner *ngIf="authSpinner"></app-spinner>
<app-alert [message]="authError" *ngIf="authError" (close)="onResetError()"></app-alert>
<div flex fxLayout="column" fxLayoutAlign="space-around center" style="padding-top: 10vh">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div>
      <mat-form-field style="width: 30vw">
        <input matInput type="text" placeholder="Email" autocomplete="email" id="email" formControlName="email"/>
        <mat-error *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched && loginForm.get('email').errors.required">Required</mat-error>
        <mat-error *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched && loginForm.get('email').errors.email">Incorrect format</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style="width: 30vw">
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" autocomplete="current-password" formControlName="password"/>
        <mat-icon matSuffix (click)="hidePassword = !hidePassword" style="cursor: default">{{ hidePassword ? "visibility" : "visibility_off" }}</mat-icon>
        <mat-error *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Required</mat-error>
      </mat-form-field>
    </div>

    <div style="text-align: center">
      <button type="submit" mat-flat-button color="primary" [disabled]="!loginForm.valid">Login</button>
      <button type="button" mat-button color="Link" (click)="onForgotPassword()">Forgot Password</button>
    </div>
  </form>
</div>
